/* basic color: #34DAD7 */
/*common reset*/
body {
  background: #F1F2F3;
}
.nav-bar {
  background: #34dad7;
  color: #fff;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.nav-bar .left-icon {
  width: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 13px;
}
.nav-bar .left-icon .iconfont {
  font-size: 20px;
}
.nav-bar .right-icon {
  width: 40px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 13px;
}
.nav-bar .right-icon .iconfont {
  font-size: 20px;
}
.form-control {
  margin-bottom: 15px;
  outline: none;
}
.form-control .label {
  color: #666768;
  margin-bottom: 3px;
  font-size: 13px;
}
.form-control input {
  border: 1px solid #b3b4b5;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-control textarea {
  border: 1px solid #b3b4b5;
  height: 220px;
  line-height: 22px;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-control.with-btn input {
  display: inline-block;
  width: 60%;
}
.form-control.with-btn button {
  height: 40px;
  line-height: 40px;
  width: 38%;
  display: inline-block;
  font-size: 14px;
}
.form-control .btn-add-img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  text-align: center;
  color: #666768;
  background: #fff;
}
.form-control .btn-add-img .iconfont {
  font-size: 36px;
}
.form-control .btn-add-img .text {
  font-size: 12px;
  transform: scale(0.8);
}
.weui-agree {
  padding: 0;
}
.weui-agree .weui-agree__text a {
  color: #34dad7;
}
.form-btn-wrap {
  margin-top: 35px;
}
.notice-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;
}
.notice-wrap a {
  color: #666768;
}
.notice-wrap .text-primary {
  color: #34dad7;
}
.thrid-login-wrap {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.thrid-login-wrap .title {
  color: #666768;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  height: 30px;
  line-height: 30px;
}
.thrid-login-wrap .title .text {
  background: #fff;
  box-sizing: border-box;
  padding: 0 10px;
}
.thrid-login-wrap .title:before {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  background: #666768;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
}
.thrid-login-wrap .icons-wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.thrid-login-wrap .icons-wrap .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  background: #34dad7;
  color: #fff;
  border-radius: 40px;
}
.container {
  padding: 15px 15px 100px 15px;
}
.weui-btn_primary {
  background: #34dad7;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  color: #fff;
  background-color: #26cfcc;
}
/*register */
/*login*/
/*index*/
.panel-wrap {
  background: #fff;
  border-bottom: 1px solid #b3b4b5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel-wrap .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  color: #666768;
}
.panel-wrap .header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.panel-wrap .header .avatar img {
  width: 100%;
}
.panel-wrap .header .content {
  width: 70%;
}
.panel-wrap .header .content .time {
  font-size: 12px;
}
.panel-wrap .header .icon-love .iconfont {
  font-size: 24px;
  color: #34dad7;
}
.panel-wrap .body {
  padding: 5px 10px 10px;
  color: #666768;
}
.panel-wrap .footer .basic-info {
  font-size: 12px;
  padding: 5px 10px;
  color: #8c8d8e;
}
.panel-wrap .footer .basic-info span {
  margin-right: 15px;
}
.panel-wrap .footer .action-wrap {
  padding: 10px;
}
.panel-wrap .footer .action-wrap .iconfont {
  font-size: 20px;
  display: inline-block;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #b3b4b5;
  color: #666768;
}
/*userCenter*/
.user-mask {
  width: 100%;
  height: 200px;
  background: #aaa;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: url('http://res.xiaomaiketang.com/xiaomai/bg-beauty_201801016.jpeg') no-repeat center;
  background-size: 100%;
  background-position: 0 0;
  box-sizing: border-box;
}
.user-mask .user-avatar-wrap {
  margin: 20px 0;
  text-align: center;
}
.user-mask .user-avatar-wrap .user-avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
}
.user-mask .user-avatar-wrap .user-avatar img {
  display: inline-block;
  width: 100%;
  font-size: 0;
}
.user-mask .user-name {
  color: #fff;
  font-size: 13px;
}
.weui-cells {
  margin-top: 10px;
}
.weui-cells .weui-cell {
  font-size: 14px;
}
.weui-cells .weui-cell .weui-cell__bd {
  color: #666768;
}
.weui-cells .weui-cell .weui-cell__ft {
  color: #666768;
}
.weui-cells .weui-cell:before {
  left: 0;
}
/*iconfont*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_543164_newbh2o5hcjo47vi.eot');
  src: url('//at.alicdn.com/t/font_543164_newbh2o5hcjo47vi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_543164_newbh2o5hcjo47vi.woff') format('woff'), url('//at.alicdn.com/t/font_543164_newbh2o5hcjo47vi.ttf') format('truetype'), url('//at.alicdn.com/t/font_543164_newbh2o5hcjo47vi.svg#iconfont') format('svg');
  
  /* project id 543164 */
}
